<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <a href="{% url 'newuser'%}">NEW</a>
        <th>
            <td>User</td>
            <td>Role</td>
            <td>Email</td>
            <td>Manager</td>
        </th>
        {% for u in u %}
        <tr><td>{{p.name}}</td>
            <td>{{p.role}}</td>
            <td>{{p.manager}}</td>
            <td>{{p.email}}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>